:root {
 --font-size: 16px;
 --primary-Brand: #4D5AE5;
 --pressed-state: #404bbf;
 --dark: #2E2F42;
 --success: #31D0AA;
 --text: #434455;
 --subtle-Text: #8E8F99;
 --accent: #E7E9FC;
 --light: #F4F4FD;
 --hero-background: #2E2F42;
 --white-background: #FFFFFF;
 --modal-background:  #FCFCFC;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    background: var(--white-background);
}
img {
    display: block;
}
ul {
    margin: 0;
    padding-left: 0;
}
.header-container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    border-bottom: 1px solid var(--accent);
    padding: 24px 0;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-Brand);
    margin-right: 76px;
    padding-left: 156px;
    }
.header span{
    color: var(--dark);
}
.footer span{
    color: var(--light);
    }
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.contacts-list {
 display: flex;
 gap: 40px;
}
.header-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--hero-background);  
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-menu-element {
    display: flex;
}
.header-contacts {
     font-style: normal;
     gap: 40px;
     margin-left: auto;
}
.header-menu:hover,
.header-menu:focus {
    color: var(--pressed-state);
}
.mail-phone {
    font-style: normal;
}
.header-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}
.header-link:hover,
.header-link:focus {
 color: var(--pressed-state);
}
.basis {
background-color: var(--hero-background);
padding: 188px 0;
}
.main-btn:hover,
.main-btn:focus {
    background-color: var(--pressed-state);
    cursor: pointer;
}
.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-background);
    max-width: 496px;
    margin-left: 472px;
    margin-right: 472px;
}
.main-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--primary-Brand);
    color: var(--white-background);
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 48px;
    margin-left: 636px;
}
.main-features {
    padding: 120px 0;
}
.visually-hidden {
    display: none;
}
.main-features-list {
   display: flex;
   gap: 24px;
   padding-left: 156px;
   padding-right: 156px;
}
.features {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    margin-bottom: 8px;
}
.features-item {
 width: calc((100% - 72px) / 4);
}
.team {
    background-color: var(--light);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding: 120px 0;
}
.worker {
    background-color: var(--white-background);
}
.main-doing {
    padding-bottom: 120px;
    padding-left: 156px;
    padding-right: 156px;
}
.what-doing {
 font-size: 36px;
 line-height: 1.11;
 text-align: center;
 letter-spacing: 0.02em;
 text-transform: capitalize;
 color: var(--dark);
 margin-bottom: 72px;
}
.img {
    display: flex;
    gap: 24px;
}
.img-working {
 width: calc((100% - 48px) / 3);
}
.team {
    padding: 120px 0;
    padding-left: 156px;
    padding-right: 156px;
}
.team-img {
 display: flex;
 gap: 24px;
}
.worker {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.worker-information {
    padding: 32px 16px;
}
.developer {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    text-align: center;
    margin-bottom: 8px;
}
.description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.team-studio {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark);
    margin-bottom: 72px;
}
.main-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.navigation {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.main-button:hover,
.main-button:focus {
    background: var(--pressed-state);
    color: var(--white-background);
    cursor: pointer;
    border: 1px solid transparent;
}
.main-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--light);
    color: var(--primary-Brand);
    padding: 12px 24px;
    border: 1px solid var(--accent);
    border-radius: 4px;
}
.pictures {
    width: calc((100% - 48px) / 3);
}
.projects-img {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.program {
    color: var(--text);
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.main-img {
 display: flex;
 flex-wrap: wrap;
 column-gap: 24px;
 row-gap: 48px;
 padding-left: 156px;
 padding-right: 156px;
 padding-bottom: 120px;
}
.img-work {
 padding: 32px 16px;
 border: 1px solid var(--accent);
 border-top: none;
 margin-bottom: 8px;
 align-items: center;
}
footer {
    background-color: var(--dark);
    padding: 100px 0
}
.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light);
    max-width: 264px;
}
.logo-foot {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-Brand);
    display: inline-block;
    margin-bottom: 16px;
}
.container-footer {
    padding-left: 156px;
}