h1 {
    background-color: #2E2F42;
    color: #FFFFFF;
}

h2{
    color: #2E2F42;
}

h3 {
    color: #2E2F42;
}

header {
    background-color: #FFFFFF;
}

button {
    background-color: #4D5AE5;
    color: #FFFFFF;
}
footer {
    background-color: #2E2F42;
}
